# $\color{Violet}{\text{Week 2: Terminal, Bash, and SQL}}$

**Instructions:** Read all text blocks and comments in code cells carefully. These contain important information regarding content you'll need to know for operating the notebook and research/coding in general. They may also contain instructions/hints for filling out activity blocks.

## $\color{Red}{\text{Reminder: Documentation and Stack Exchange are your best friends!}}$
### $\color{Orange}{\text{ALSO: I know this HW looks short, but some questions require downloading and manipulating some tricky files, so don't underestimate time here!}}$

------------------------------------

![image.png](attachment:image.png)

# Using Desktop Terminal

Terminals are programs that allow us to directly interface and interact with the operating system (OS)/cluster we are running our code on. They are a way to easily manipulate files, run Linux-based programs (such as IRAF for astrophysical analysis https://iraf-community.github.io/) and even edit databases using scriping languages such as `Bash` and `SQL`. All OS's will have some sort of terminal functionality and even different coding clusters and environments will provide their own terminals you can use to install packages, manipulate files, etc. In fact, it is possible to run `Bash` and `SQL` scripts within your JuPyter environment. Let's first get familiar with our local desktop terminal before we practice using `Bash` and `SQL` in JuPyter Notebooks. Below are instructions for using terminal on your machine.

### $\color{orange}{\text{Activity 1: Local Machine Terminal}}$

### MacOS

You're in luck! By far one of the easiest OS's to run terminal in. In your Launchpad, search for the application "Terminal." It will be under /Applications/Utilities. The icon should appear as displayed in the header image of this document. That's it!

### Windows10

This one's a little more tricky. Windows Terminal uses a different command line language than Bash - it uses a language called `PowerShell`, which looks similar to Bash but technically isn't quite the same. For that reason, it will work for our puposes, but if you want to struictly run Bash/Linux terminal, we need to install Windows Subsystem for Linux. In your desktop search bar, type "Terminal." The application is named "Terminal" or "Windows Powershell." Then, follow the instructions found here to download WSL: https://learn.microsoft.com/en-us/windows/wsl/install. This will install Ubuntu capabilities onto your OS. For this activity, installing WSL is not necessary, but it's a nice thing to have on your Desktop for operating some software you might need someday.

### Linux

If you already run Linux, using Terminal probably isn't new to you. You can launch terminal, go to Applications -> Terminal or use shortcut CTRL + ALT + T.

Once you've opened your command line system of choice, perform the following tasks:

**1.** Type `pwd` and press enter. This prints your current working directory, as mentioned in lecture. Copy and paste the output in the markdown box below.

**2.** Type `ls` and press enter. This lists the files in your current working directory.

**3.** Type `mkdir STARTUP_example` and press enter. Use the `cd` command to enter this new directory. Then, print the new working directory. In the markdown box below, write the full path of the new directory.

**4.** Once you've made the new directory (folder), use the file navigator program (where you'd normally go to manage your files seperate from the terminal) and find where `STARTUP_example` is located. Take a screenshot (use some sort of snipping tool and crop the image) of just the file icon and name. In the markup box below, copy and paste this image in. Congrats! You just made a new folder on your computer from your terminal.

**5.** Go back to terminal. Now, use Bash commands to move your `STARTUP_exmaples` folder to your computer's Desktop or Downloads directory.

*Markup box for Activity 1.*

1) /Users/aditisinha

aditisinha@MacBook-Pro-12 ~ %

3) /Users/aditisinha

aditisinha@MacBook-Pro-12 ~ STARTUP_example %

4)

![Screenshot 2024-06-04 at 8.23.53 PM.png]()

______________________________________

# Using .tar.gz

While not extensively reviewed in lecture, one functionality of Linux that you may encounter at some point is compression and extraction of filetypes called "tar" files (short for "tape archive"). These are handled similarly to .zip files you may have used before. The .gz portion of the file type is short for "GZIP," which is a sort of file-compression system (similar to how and why you'd compress an image to save space).

Let's download a cool software (that I definitly didn't find using ChatGPT, everyone say "Thank you, ChatGPT") that very conveniently models phenomena (molecular and atomic dynamics under different forces) that line up perfectly with our journal club topic this week. **This software, produced and distributed by Sandia National Laboratory, is called LAMMPS** (https://www.lammps.org/index.html#gsc.tab=0, https://en.wikipedia.org/wiki/LAMMPS) and must be extracted form a tarball (a funny word for .tar file) that can be downloaded from their website. COOL THING: If you're interested in reading up more on this software, playing around with it would make a great final project!

### $\color{orange}{\text{Activity 2: Unpacking LAMMPS from Tarball}}$

**1.** Click on this link: https://www.lammps.org/download.html#tar. Then, scroll down a little and download the "LAMMPS Feature Release" published on 17 Apr 2024. This will download a small tarball to your desktop.

**2.** In your terminal, move the downloaded tarball file into your your `STARTUP_example` folder and then cd into `STARTUP_example`. Then, execute this script: `tar -xzvf lammps.tar.gz`. The terminal will explode into 1000 downloads, don't be suprised. When it's done, print the names of all the files in `STARTUP_example` and take a screenshot of the output. Insert the screenshot in the markup box below.

**3.** When we executed the tar unpackaging, we included the options `-xzvf`. Do a Google search and write what each of these letters mean; right them below. What is one more letter/option we could have used and what would it have done?

**4.** Read this webpage on other syntaxes/formats for unpacking .tar.gz files: http://magma.maths.usyd.edu.au/magma/faq/extract. Write one thing you learned below.

**5.** Let's recompress this file. In the same directory, run `tar -zcvf lammps.tar.gz \path`. `\path` will have to be replaced with the path to your STARTUP_examples folder. Your terminal is going to explode again. Now that the file has been recompressed, it will have to be extracted again if you want to use the program in the future.

**6** When you're done, use the `cd ~` command to return to your home directory.

Here is a full guide to tar: https://www.cyberciti.biz/faq/how-to-tar-a-file-in-linux-using-command-line/

*Markup for Activity 2*

________________________________

# SQL in JuPyter

Let's practice manipulating a .csv file using `SQL`.

### $\color{orange}{\text{Activity 3: K2 Exoplanet Dataframe in SQL}}$

Let's use SQL to manipulate a .csv file of K2 named and candidate exoplanet data we can download online. K2 is the name for the extended mission of the Kepler Space Telescope.

**1.** Go to the STARTUP website (https://sites.google.com/view/startup-purdue/github); you will see a Google Sheets version of the K2_Data we need to download under the "GitHub" tab. Open this Google Sheet file in a new tab and download it **in a .csv format** (File->Download->Comma Seperated Values (.csv)). This table is a shortened version of: https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS. Look at the file as it is displayed in Google Sheets. Describe what you see in the markup box below.

*Activity 3, Part 1 markup*

**2.** Upload your .csv data file to whatever platform you are using to edit this JuPyter Notebook. If this is Google Colab, for example, click the file-folder symbol in the bar at the right side of the page, then click the file-upload symbol. When you have completed this step, run the cell below.

In [ ]:
import pandas as pd

In [ ]:
K2_data = df = pd.read_csv('K2_Data - K2_Data.csv')

In [ ]:
#Let's print the full dataframe.
K2_data.head()

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_rmag,sy_imag,sy_zmag,sy_w1mag,sy_w2mag,sy_w3mag,sy_w4mag,sy_gaiamag,sy_icmag,sy_tmag
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,NaN,NaN,0.639,0.732,2.358,2.270,4.44038,NaN,3.83790
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,NaN,NaN,0.639,0.732,2.358,2.270,4.44038,NaN,3.83790
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,NaN,NaN,NaN,0.639,0.732,2.358,2.270,4.44038,NaN,3.83790
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,NaN,NaN,-0.290,0.143,1.894,1.787,4.56216,NaN,3.82294
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,NaN,NaN,-0.290,0.143,1.894,1.787,4.56216,NaN,3.82294

In [ ]:
#Create a SQL database we can access.
import sqlite3 as sql3
connect_to_database = sql3.connect("K2_Data.db")
K2_data.to_sql('K2_Data', connect_to_database, if_exists = "replace")

12

We just created a SQL database we can access using strings of SQL code. These strings will have the same format (e.g. `SELECT * FROM Test LIMIT 10`) as if we were typing this code into terminal to manipulate databases/tables there. In the box below is an example of how to use this format in `JuPyter`. So, for the questions below, you can copy and paste this code and change the `sql_script` string to change how you query into this database. In the markup box below, comment how many columns are in this dataframe.

In [ ]:
sql_script = 'SELECT * FROM K2_Data'
K2_updated = pd.read_sql(sql_script, connect_to_database)
K2_updated.head()

,index,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,...,sy_rmag,sy_imag,sy_zmag,sy_w1mag,sy_w2mag,sy_w3mag,sy_w4mag,sy_gaiamag,sy_icmag,sy_tmag
0,0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,...,None,None,None,0.639,0.732,2.358,2.270,4.44038,None,3.83790
1,1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,...,None,None,None,0.639,0.732,2.358,2.270,4.44038,None,3.83790
2,2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,...,None,None,None,0.639,0.732,2.358,2.270,4.44038,None,3.83790
3,3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,...,None,None,None,-0.290,0.143,1.894,1.787,4.56216,None,3.82294
4,4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,...,None,None,None,-0.290,0.143,1.894,1.787,4.56216,None,3.82294

*Activity 3, Part 2 markup*

112 columns

**3.** Now we can use SQL to manipulate the dataframe. Recall this is a truncated dataframe with information on 12 exoplanets. In the code block(s) below, write SQL strings to complete the following (some of these operations can be found in lecture, some may need to be looked up).

 - Create a new database called **"K2_new"** with the following columns taken from `K2_updated`: `gaia_id`, `ra`, `dec`, `sy_snum`, `sy_pnum`, `disc_year`, `disc_facility`, `disc_instrument`, `pl_controv_flag`, `pl_orbper`, `pl_orbsmax`, `pl_rade`, `pl_masse`, `pl_orbeccen`, `pl_eqt`, `st_spectype`, `st_age`. These columns correspond to, respectively: The Gaia catalog ID for the host star, the right ascension of the star, the declination of the star, the number of stars in the system, the number of planets in the system, the exoplanet's year of discovery, the facility that discovered the exoplanet, the instrument used to make the discovery, a flag for whether the discovery is controversial, the orbital period of the planet in days, the semi-major axis of the planet's orbit in AU (astronomical units), the planet's radius in Earth radii, the planet's mass in Earth masses, the planet's orbital eccentricity, the planet's temperature in Kelvin, the host star's stellar classification, and the host star's age.


 - Use `SQL` to print the average number of planets in each exoplanetary system. Is this what you expected?
 - Use `SQL` to determine how many planets were discovered using the "W. M. Keck Observatory".
 - Use `SQL` to create a new dataframe of just the column `pl_controv_flag` and count how many of these exoplanets are labeled as controversial.
 - Use `SQL` to print a dataframe of all exoplanets with orbital periods GREATER THAN 500 days.
 - Use `SQL` to print a dataframe of all exoplanets ordered, from least to greatest, by semimajor axis in AU.

In [ ]:
#Activity 3 Part 3 cell block.
K2_updated.to_sql('Updated', connect_to_database, if_exists = "replace")
new_sql_script = 'SELECT gaia_id, ra, dec, sy_snum, sy_pnum, disc_year, disc_facility, disc_instrument, pl_controv_flag, pl_orbper, pl_orbsmax, pl_rade, pl_masse, pl_orbeccen, pl_eqt, st_spectype, st_age FROM Updated'
K2_new = pd.read_sql(new_sql_script, connect_to_database)
display(K2_new)
avg_pnum = pd.read_sql('SELECT AVG(sy_pnum) FROM Updated', connect_to_database)
print(avg_pnum)
pkeck = pd.read_sql('SELECT COUNT(*) FROM Updated WHERE disc_facility = "W. M. Keck Observatory"', connect_to_database)
print(pkeck)
controv = pd.read_sql('SELECT pl_controv_flag FROM Updated WHERE pl_controv_flag = "0"', connect_to_database)
display(controv)
controv_num = pd.read_sql('SELECT COUNT(*) FROM Updated WHERE pl_controv_flag = "0"', connect_to_database)
print(controv_num)
orb_500 = pd.read_sql('SELECT * FROM Updated WHERE pl_orbper > "500"', connect_to_database)
display(orb_500)
exp_order = pd.read_sql('SELECT * FROM Updated ORDER BY pl_orbsmax', connect_to_database)
display(exp_order)

,gaia_id,ra,dec,sy_snum,sy_pnum,disc_year,disc_facility,disc_instrument,pl_controv_flag,pl_orbper,pl_orbsmax,pl_rade,pl_masse,pl_orbeccen,pl_eqt,st_spectype,st_age
0,Gaia DR2 3946945413106333696,185.178779,17.793252,2,1,2007,Xinglong Station,Coude Echelle Spectrograph,0,NaN,1.210,None,NaN,NaN,None,None,NaN
1,Gaia DR2 3946945413106333696,185.178779,17.793252,2,1,2007,Xinglong Station,Coude Echelle Spectrograph,0,326.03000,1.290,None,NaN,0.231,None,G8 III,NaN
2,Gaia DR2 3946945413106333696,185.178779,17.793252,2,1,2007,Xinglong Station,Coude Echelle Spectrograph,0,323.21000,1.178,None,NaN,0.238,None,G8 III,NaN
3,Gaia DR2 1696798367260229376,229.274595,71.823943,1,1,2009,Thueringer Landessternwarte Tautenburg,Coude Echelle Spectrograph,0,516.21997,1.530,None,NaN,0.080,None,None,NaN
4,Gaia DR2 1696798367260229376,229.274595,71.823943,1,1,2009,Thueringer Landessternwarte Tautenburg,Coude Echelle Spectrograph,0,NaN,1.510,None,NaN,NaN,None,None,NaN
5,Gaia DR2 1696798367260229376,229.274595,71.823943,1,1,2009,Thueringer Landessternwarte Tautenburg,Coude Echelle Spectrograph,0,516.22000,1.540,None,NaN,0.080,None,K4 III,1.56
6,Gaia DR2 1920113512486282240,352.824150,39.235837,1,1,2008,Okayama Astrophysical Observatory,HIDES Echelle Spectrograph,0,186.76000,0.775,None,NaN,0.000,None,K0 III,NaN
7,Gaia DR2 1920113512486282240,352.824150,39.235837,1,1,2008,Okayama Astrophysical Observatory,HIDES Echelle Spectrograph,0,NaN,0.680,None,NaN,NaN,None,None,NaN
8,Gaia DR2 1920113512486282240,352.824150,39.235837,1,1,2008,Okayama Astrophysical Observatory,HIDES Echelle Spectrograph,0,185.84000,0.830,None,NaN,0.000,None,K0 III,NaN
9,Gaia DR2 1385293808145621504,242.602101,43.816362,1,2,2002,W. M. Keck Observatory,HIRES Spectrometer,0,1773.40000,2.770,None,NaN,0.369,None,K0 V,NaN
10,Gaia DR2 1385293808145621504,242.602101,43.816362,1,2,2002,W. M. Keck Observatory,HIRES Spectrometer,0,1766.00000,2.864,None,NaN,0.359,None,None,NaN
11,Gaia DR2 1385293808145621504,242.602101,43.816362,1,2,2002,W. M. Keck Observatory,HIRES Spectrometer,0,1765.03890,2.774,None,2559.47216,0.373,None,None,NaN

   AVG(sy_pnum)
0          1.25
   COUNT(*)
0         3

    pl_controv_flag
0                 0
1                 0
2                 0
3                 0
4                 0
5                 0
6                 0
7                 0
8                 0
9                 0
10                0
11                0

   COUNT(*)
0        12

,level_0,index,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,...,sy_rmag,sy_imag,sy_zmag,sy_w1mag,sy_w2mag,sy_w3mag,sy_w4mag,sy_gaiamag,sy_icmag,sy_tmag
0,3,3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,...,None,None,None,-0.29,0.143,1.894,1.787,4.56216,None,3.82294
1,5,5,6,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,...,None,None,None,-0.29,0.143,1.894,1.787,4.56216,None,3.82294
2,9,9,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,...,None,None,None,NaN,NaN,NaN,NaN,6.38300,None,5.86310
3,10,10,11,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,...,None,None,None,NaN,NaN,NaN,NaN,6.38300,None,5.86310
4,11,11,12,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,...,None,None,None,NaN,NaN,NaN,NaN,6.38300,None,5.86310

,level_0,index,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,...,sy_rmag,sy_imag,sy_zmag,sy_w1mag,sy_w2mag,sy_w3mag,sy_w4mag,sy_gaiamag,sy_icmag,sy_tmag
0,7,7,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,...,None,None,None,NaN,NaN,NaN,NaN,4.91781,None,4.32140
1,6,6,7,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,...,None,None,None,NaN,NaN,NaN,NaN,4.91781,None,4.32140
2,8,8,9,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,...,None,None,None,NaN,NaN,NaN,NaN,4.91781,None,4.32140
3,2,2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,...,None,None,None,0.639,0.732,2.358,2.270,4.44038,None,3.83790
4,0,0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,...,None,None,None,0.639,0.732,2.358,2.270,4.44038,None,3.83790
5,1,1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,...,None,None,None,0.639,0.732,2.358,2.270,4.44038,None,3.83790
6,4,4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,...,None,None,None,-0.290,0.143,1.894,1.787,4.56216,None,3.82294
7,3,3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,...,None,None,None,-0.290,0.143,1.894,1.787,4.56216,None,3.82294
8,5,5,6,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,...,None,None,None,-0.290,0.143,1.894,1.787,4.56216,None,3.82294
9,9,9,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,...,None,None,None,NaN,NaN,NaN,NaN,6.38300,None,5.86310
10,11,11,12,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,...,None,None,None,NaN,NaN,NaN,NaN,6.38300,None,5.86310
11,10,10,11,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,...,None,None,None,NaN,NaN,NaN,NaN,6.38300,None,5.86310

____________________________________

## $\color{Blue}{\text{Congrats! You've completed Week 2, Part 1 of STARTUP homework!}}$
### $\color{Orange}{\text{Remember to commit this notebook to GitHub when complete.}}$
#### $\color{Pink}{\text{Special thanks to ChatGPT and StackExchange for giving me some good ideas on available public data/SQL formatting methodologies for this homework. Never be afraid to do some research!}}$

### $\color{Green}{\text{Activity BONUS: GalPy Simulations}}$

If you would like to practice using `conda` environments (https://anaconda.org/anaconda/jupyter) and are looking for some ideas for the final project for this course, I came across a cool Python package you can play around with.

This package, `Galpy`, is a simulation package for **modeling the kinematic dynamics of galaxies**. This package appears well-documented and includes a lot of example code to copy-and-paste and play around with: https://docs.galpy.org/en/v1.9.2/index.html. Installation can be carried out multiple ways, but the recommended involved use of `conda`. Installation code/instructions found here: https://docs.galpy.org/en/v1.9.2/installation.html

Thanks again, ChatGPT.